<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>
{% block body%}
    <body>
    {% block header %}
        <div class="wrapper">
            <div class="container-fluid">
                <header class="header">
                    <a href="/">
                        <img src="assets/img/logo.svg" alt="Maleteo">
                    </a>
                </header>
            </div>
        </div>
    {% endblock %}
    {% block main %}
        <main>
            <div class="jumbo">
                <div class="wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="jumbo__ww-title">
                                    <div class="jumbo__w-title">
                                        <h1 class="jumbo__title heading1">
                                            Gana dinero guardando equipaje a viajeros como tu
                                        </h1>
                                        <ul class="jumbo__app-btns">
                                            <li>
                                                <a href="#">
                                                    <img src="assets/img/app-store.svg"
                                                         alt=""
                                                         class="jumbo__app-btn">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="assets/img/google-play.svg"
                                                         alt=""
                                                         class="jumbo__app-btn">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="container-fluid">
                    <section class="howworks">
                        <h2 class="howworks__title heading2">
                            ¿Cómo funciona?
                        </h2>
                        <ol class="howworks__steps row">
                            <li class="col-md-4">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola">
                                        <div class="howworks__step-bola">
                                            <span class="heading3">1</span>
                                        </div>
                                    </div>
                                    <div class="howworks__step-w-txt">
                                        <p class="howworks__step-title heading3">
                                            Date de alta
                                        </p>
                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola">
                                        <div class="howworks__step-bola">
                                            <span class="heading3">1</span>
                                        </div>
                                    </div>
                                    <div class="howworks__step-w-txt">
                                        <p class="howworks__step-title heading3">
                                            Date de alta
                                        </p>
                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola">
                                        <div class="howworks__step-bola">
                                            <span class="heading3">1</span>
                                        </div>
                                    </div>
                                    <div class="howworks__step-w-txt">
                                        <p class="howworks__step-title heading3">
                                            Date de alta
                                        </p>
                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </section>

                    <section class="app-form">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="app-form__w-app-img">
                                    <img src="assets/img/iPhoneX.png"
                                         srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                                         alt=""
                                         class="app-form__app-img">
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="the-form">

                                    {% block form  %}
                                        <div>
                                            <p class="the-form__title heading3">
                                                Solicita una demo
                                            </p>
                                            {{ form_start(formRequest)}}
                                            <div class="the-form__group">
                                                {{ form_row(formRequest.name, {'attr':{'class':'the-form__input', 'placeholder':'Vincent Chase', 'label': 'Nombre'}})}}
                                            </div>
                                            <div class="the-form__group">
                                                {{ form_row(formRequest.email, {'attr':{'class':'the-form__input', 'placeholder':'vincent@mga.com','label': 'Email' }})}}
                                            </div>
                                            <div class="the-form__group">
                                                {{ form_row(formRequest.city, {'attr':{'class':'the-form__input the-form__select','label': 'Ciudad'}})}}
                                            </div>
                                            <div class="the-form__group the-form__group_checkbox">
                                                {% set policy %}
                                                    {{ form_row(formRequest.policy)}}
                                                {% endset %}
                                                {{ policy|replace({'#POLICY_LINK#':'<a href="#">política de privacidad</a>'})|raw }}
                                            </div>
                                            {{ form_row(formRequest.send, {'attr':{'class':'the-form__btn btn btn-lg btn-primary'}})}}
                                        </div>
                                        {{form_end(formRequest)}}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="opinions">
                        <h2 class="opinions__title heading2">
                            Opiniones de otros guardianes
                        </h2>
                            <ul class="row">
                                {% for opinion in opinion %}
                                    <li class="col-md-4">
                                        <div class="opinion">
                                            <blockquote class="opinion__blq simple-bubble text-large">
                                                {{ opinion.opinion }}
                                            </blockquote>
                                            <p class="opinion__author text-large">
                                                {{opinion.author}}
                                            </p>
                                            <p class="opinion__author-address">
                                                {{opinion.city}}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                    </section>
                </div>
            </div>
        </main>
    {% endblock %}
    {% block footer %}
        <footer class="footer">
            <div class="wrapper">
                <div class="container-fluid">
                    <img src="assets/img/logo.svg"
                         alt="Maleteo"
                         class="footer__logo">
                    <p class="footer__claim">
                        Hecho con ❤️en Madrid
                    </p>
                </div>
            </div>
        </footer>
    {% endblock %}
    </body>
{% endblock %}

</html>