{% extends 'base.html.twig' %}

{% block main %}
        <div class="the-form">

                    <p class="the-form__title heading3">
                        Hola {{ user.name }}
                    </p>
            {% block form %}

                   {{ form_start(formOpinion)}}
                    <div class="the-form__group">
                       {{ form_row(formOpinion.opinion, {'attr':{
                            'class':'the-form__input the-form__input-height',
                            'placeholder' : 'Dejanos tu opinión' ,
                            'style': 'height: 200px'}})}}
                    </div>

                    {{ form_row(formOpinion.send, {'attr':{'class':'the-form__btn btn btn-lg btn-primary'}})}}
                {{ form_end(formOpinion) }}

            {% endblock %}
        </div>
{% endblock %}
